# Foundry
RPC_URL=http://127.0.0.1:8545
BASE_SEPOLIA_RPC_URL=
PRIVATE_KEY=
ETHERSCAN_API_KEY=

# Deploy script inputs
INITIAL_OWNER=
UNDERLYING_ASSET=
POOL_MANAGER=

# Optional explorer base
EXPLORER_BASE_URL=https://sepolia.basescan.org/tx/
